.header{margin: 0px; padding: 0px; height: 100px; width: 100%; background-color: #73AD21; border: 2px solid #555555; color: #fff; font-size: 22px; text-align: center; padding-top: 40px;}
.main_menu{margin: 0; padding: 0; height: 60px; width: 100%; background-color: #F6F6F6; border: 1px solid #990000; }
.main_menu ul{margin: 0; padding: 0; width: 100%; }
.main_menu ul li {float: left; overflow: hidden;  text-decoration: none; margin: 20px;}
.main_menu ul li a {font-size: 18px; color: #000000; text-align: center; }
.containers{margin: 0; padding:0; height: 100%; background-color: #ffd9d9;}
.second_menue{margin: 0; padding: 0; height: 60px; width: 100%; background-color: #F6F6F6; border: 1px solid #990000; }
.second_menue a {margin:10px; }
.create{margin: 0px; padding: 0px; height: 100%; width: 60%; background-color:red; border: 2px solid #555555; color: #fff; font-size: 18px; text-align: center;}
.create input{margin: 15px;}